<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Css</title>
    <style>
        body{
            background-color: #521717;
            text-align: center;
            color: bisque;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        text{
            color: #f2f2f2;
            font-size: large;
            font-weight:900
        }
    </style>
</head>
<body>
    <h1 class="text">Css Usage in page </h1>
    <p class="text">
        Hey This is css usage page
    </p>
</body>
</html>